@using NasgledSys.Models;
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_advanced.js"></script>
@section SideBar{
    <center>
        <h4>
            <span class="heading-text">
                <i class="icon-folder-download position-left"></i>  <a href="@Url.Action("UserHome","Home")">Home></a><a href="@Url.Action("Index","MgtClientCompany")">Companies ></a>
            </span>
        </h4>
        <a href="@Url.Action("Edit","MgtClientCompany",new { id=GlobalClass.CCompany.ClientCompanyKey})" class="btn btn-primary btn-xlg col-lg-10">Edit Company</a>
    </center>

}

@section CenterTitle{
    @Html.DisplayFor(m=>GlobalClass.CCompany.CompanyName)
}

    <div class="panel panel-default col-lg-6">
        

     
        <div class="panel-body">
           
            <ul class="nav nav-pills">
                <li class="active"><a href="@Url.Action("Create","MgtProject")" data-toggle="tab">Project</a></li>
                <li><a href="@Url.Action("Index","MgtTeam")" data-toggle="tab">Team</a></li>
                <li><a href="@Url.Action("Index","MgtCatelogue")" data-toggle="tab">Catelogue</a></li>
               
            </ul>


        </div>
        <div class="panel-footer">
            <center><a href="@Url.Action("Index","MgtProject")" class="btn btn-primary btn-xlg col-lg-10">New Project</a>
           </center>
           
        </div>

        <table class="table datatable-show-all">
            <thead><tr><th>Name</th><th>Status</th><th>Lead</th><th>About</th><th>Edit</th><th>View</th></tr></thead>
            <tbody>

              
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
            
            </tbody>
        </table>

    </div>



