@model NasgledSys.Models.ProductNoteClass
@using NasgledSys.Models;
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@{
    NasgledDBEntities db = new NasgledDBEntities();
    Guid? ak = Model.AreaKey;
    string areaLink = "";
    for (;;)
    {
        Area area = db.Area.Find(ak);
        areaLink = "<a class='h4' href='/MgtSubArea/Edit?id=" + area.AreaKey.ToString() + "'>" + area.AreaName + "</a> <label>></label>" + areaLink;

        if (area.ParentAreaKey == null)
        {
            break;
        }
        else
        {
            ak = area.ParentAreaKey;
        }
    }


}
@section CenterTitle{
    Edit Existing Product
}
@section SideBar{
    <center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>  <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Projects</a>
            <label>></label>@MvcHtmlString.Create(areaLink)

        </span>

    </center>


}

<div class="content-wrapper">


    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li><a href="@Url.Action("Edit", "MgtAddProducts", new { id = Model.ProductKey })">Products</a></li>
                            <li><a href="@Url.Action("Details", "MgtAreaProductDetail", new { id = Model.ProductKey })">Details</a></li>
                            <li class="active"><a href="#tab-demo2" data-toggle="tab">Notes</a></li>
                            <li><a href="@Url.Action("Photos", "MgtAreaProductPhoto", new { id = Model.ProductKey })">Photos</a></li>
                            <li><a href="@Url.Action("Documents", "MgtAreaProductDocument", new { id = Model.ProductKey })">Documents</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="tab-demo2">
                                @using (Html.BeginForm("Notes", "MgtAreaProductDetail", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary()
                                    <div class="panel-body">

                                        @Html.HiddenFor(m => m.NoteKey, new { id = "NoteKey" })
                                        @Html.HiddenFor(m => m.ProductKey, new { id = "ProductKey" })
                                        @Html.HiddenFor(m => m.AreaKey, new { id = "AreaKey" })
                                        @Html.HiddenFor(m => m.FixtureKey, new { id = "FixtureKey" })

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextAreaFor(model => model.Description, new { placeholder = "description", id = "Description", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Condition)
                                            @Html.TextAreaFor(model => model.Condition, new { placeholder = "conditions", id = "Condition", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InternalNotes)
                                            @Html.TextAreaFor(model => model.InternalNotes, new { placeholder = "internal notes", id = "InternalNotes", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.InternalNotes, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GeneralNote)
                                            @Html.TextAreaFor(model => model.GeneralNote, new { placeholder = "general note", id = "GeneralNote", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.GeneralNote, "", new { @class = "text-danger" })
                                        </div>



                                    </div>
                                    <div class="panel-footer">

                                        <a href="@Url.Action("Index", "MgtAddProducts", new { id = Model.AreaKey })" class="btn border-warning btn-xlg col-md-4" role="button">Cancel</a>
                                        <span class="col-md-2">&nbsp;</span>
                                        <button type="submit" class="btn border-blue btn-xlg col-md-6" id="Save" name="Save" value="Save">Save</button>
                                    </div>
                                    <br />
                                    <div class="panel-footer">                                       
                                            <a href="@Url.Action("Delete", "MgtAddProducts", new { id = Model.ProductKey })" onclick="return confirm('Are you sure you want to Remove this?')" class="btn border-warning btn-xlg col-md-12" role="button">Delete</a>

                                    </div>
                                }
                            </div>



                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>


</div>
