@model NasgledSys.Models.ProfileClass
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CityKey").select2();
        $("#PrimaryBusinessType").select2();
    });
</script>
@section SideBar{
    <center>
    <h4>
        <span class="heading-text">
            <i class="icon-download10 position-left"></i> > Registration > <a href="@Url.Action("Index","MgtRole")">Role ></a><a href="@Url.Action("GetAllProfile","MgtProfile")">Profile ></a>Company
        </span>
    </h4>
</center>
}

@section CenterTitle{
    Profile
    }
@using (Html.BeginForm("Index","MgtProfile",FormMethod.Post,new { @class= "form-horizontal" }))
{
    <div class="panel panel-default col-lg-6">
        <div class="panel-heading">
            <h3>Profile Setup</h3>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>

                </ul>
            </div>
        </div>

        <div class="panel-body">
            <h4>Please Create Your Profile Below</h4>
            @Html.ValidationSummary()
          

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = " First Name", id = "FirstName", @class = "form-control" })
                
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = " Last Name", id = "LastName", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName)
                    @Html.TextBoxFor(model => model.CompanyName, new { placeholder = "Company Name", id = "CompanyName", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Location)
                    @Html.DropDownList("CityKey", null, string.Empty, new { placeholder = "enter City, State", @required = "required", id = "CityKey", @class = "select select-search" })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.JobTitle)
                    @Html.TextBoxFor(model => model.JobTitle, new { placeholder = "Job Title", id = "JobTitle", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNo)
                    @Html.TextBoxFor(model => model.PhoneNo, new { placeholder = "Phone Number", id = "PhoneNo", @class = "form-control" })
                    <span class="small text-muted"> We do not provide your Phone Number to outside parties.</span>
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                </div>
        

        </div>
        <div class="panel-heading">
            <h3>Business Information</h3>            
        </div>
        <div class="panel-body">
            <h4>And please provide the following so we can tailor your experience</h4>
          
            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryBusinessType)
                @Html.DropDownList("PrimaryBusinessType", null, string.Empty, new { placeholder = "Select", id = "PrimaryBusinessType", @class = "select select-search" })
                @Html.ValidationMessageFor(model => model.PrimaryBusinessType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HireOutsideAuditor)
                @Html.DropDownList("HireOutsideAuditor", null, string.Empty, new { placeholder = "Select", id = "HireOutsideAuditor", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HireOutsideAuditor, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnnualSalesRevenue)
                @Html.DropDownList("AnnualSalesRevenue", null, string.Empty, new { placeholder = "Select", id = "AnnualSalesRevenue", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnnualSalesRevenue, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SalesReach)
                @Html.DropDownList("SalesReach", null, string.Empty, new { placeholder = "Select", id = "SalesReach", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SalesReach, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DirectManufacture)
                @Html.TextBoxFor(model => model.DirectManufacture, new { id = "DirectManufacture", @class = "form-control" })
              <span class="small text-muted">We use this information to identify manufacturers that our users would like to see</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DirectDistributor)
                @Html.TextBoxFor(model => model.DirectDistributor, new { id = "DirectDistributor", @class = "form-control" })
                <span class="small text-muted">We use this information to identify distributors that our users would like to see</span>
            </div>


        </div>
        <div class="panel-footer">
            <center><button type="submit" class="btn btn-primary btn-xlg col-lg-8" id="btnAdd">Next</button></center>
          <h2>@ViewBag.mess</h2>
        </div>

    </div>
}

