@model NasgledSys.Models.ClientContactViewModel
@{
    ViewBag.Title = "Edit Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#CityKey").select2();
        $("#StateKey").select2();
    });
    $('#Phone').focusin(function () {
        $('#Phone').mask("999-999-9999");
    });
</script>
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    @using (Html.BeginForm("Edit", "MgtClientContact", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ContactKey, new { id = "ContactKey" })
        <div class="col-md-6">

            <div class="panel-body">
                <h4>
                    <span class="heading-text pull-left">
                        <i class="icon-download10 position-left"></i>
                        <span class="position-left"><a href="@Url.Action("Index","MgtClientContact")">Contact > </a></span>

                    </span>

                </h4>
            </div>
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills" id="myTab">
                            <li class="active">
                                <a href="#first" data-toggle="tab">Profile</a>
                            </li>
                            <li>
                                <a href="#second" data-toggle="tab">Contact</a>
                            </li>
                            <li>
                                <a href="#third" data-toggle="tab">Address</a>
                            </li>
                            <li>
                                <a href="#fourth" data-toggle="tab">Notes</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="first">
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JobTitle, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.WebAddress, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.WebAddress, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.WebAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="second">
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control"} })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OfficePhone, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.OfficePhone, new { htmlAttributes = new { @class = "form-control", id = "Phone", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.OfficePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CellPhone, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FaxPhone, new { @class = "col-sm-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.FaxPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FaxPhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <a href="#first" data-toggle="pill">Back</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="third">
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address2, new { @class = "col-sm-2 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityKey, new { @class = "col-sm-1 control-label" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("CityKey", null, string.Empty, new { @required = "required", id = "CityKey", @class = "select select-search" })
                                            @Html.ValidationMessageFor(model => model.CityKey, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.StateKey, "State", new { @class = "col-sm-1 control-label" })
                                        <div class="col-md-3">

                                            @Html.DropDownList("StateKey", null, string.Empty, new { @required = "required", id = "StateKey", @class = "select select-search" })
                                            @Html.ValidationMessageFor(model => model.StateKey, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Zipcode, new { @class = "col-sm-2 control-label" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <a href="#secound" data-toggle="pill">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="fourth">
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InternalNote, new { @class = "col-sm-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.InternalNote, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GeneralNote, new { @class = "col-sm-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.GeneralNote, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <a href="#third" data-toggle="pill">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                    <div class="panel-footer">
                        <div class="form-group" id="msgSuccess"><h4 class="alert alert-success">Data is successfully Updated on database.</h4></div>
                        <center>
                            @Html.ActionLink("Cancel", "Index", "MgtClientContact", null, new { @class = "btn btn-success btn-xlg col-md-4" })
                            <input type="submit" value="Save" class="btn btn-success btn-xlg col-md-4" style="margin-left:5em;" />
                        </center>
</div>
               
            </div>
        </div>
    }

    <div class="col-md-3">
        &nbsp;
    </div>
</div>