@model NasgledSys.Models.Area
@using NasgledSys.Models;
@{
    ViewBag.Title = "Subarea";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/datatables/jquery.dataTables.js"></script>
<script src="~/Content/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript">

    var baseList = [];
    var filteredList = [];
    $(document).ready(function () {
        GetClientCompanyListData();
    });
    function search() {
        filteredList = [];
        var searchText = $("#searchText").val().toLowerCase();
        if (searchText == "") {
            filteredList = baseList;
            remakeGrid();
        }
        else {
            baseList.forEach(function (item) {
                if (item.SubAreaName.toLowerCase().includes(searchText) ||
                    item.AreaName.toLowerCase().includes(searchText)) {
                    filteredList.push(item);
                }
            });
            remakeGrid();
        }
    }
    $(function () {
        $('#ctable').DataTable({

            paging: true
        });
    });
    function remakeGrid() {
        var res = "";
       
        $("#elementContainer").html("");
       
        res = res + "<table class='table table-bordered table-hover datatable-highlight' id='ctable'>"
                 + "<thead><tr><th>Name</th><th>Located In</th><th>Product Count</th><th></th></tr></thead><tbody>";

        for (var i = 0; i < filteredList.length; i++) {

            res = res + "<tr><td>" + filteredList[i].SubAreaName + "</td><td>" + filteredList[i].AreaName + "</td><td>" + filteredList[i].ProductCount + "</td>"
                      + "<td><a href='/MgtSubArea/Edit?id=" + filteredList[i].AreaKey + "' class='btn btn-default btn-xs' role='button'>View</a></td></tr>";
        }
        res = res +  "</tbody></table>";
        $("#elementContainer").html(res);
      
    }
    function GetClientCompanyListData() {
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/MgtSubArea/GetSubAreaList/",
            data: JSON.stringify({ id: '@Model.AreaKey' }),
            success: function (data) {
                baseList = data;
                filteredList = data;
                remakeGrid();
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Error on ajax call");
            }
        });
    }
</script>
@{
    NasgledDBEntities db = new NasgledDBEntities();
    Guid? ak = Model.AreaKey;
    string areaLink = "";
    for (;;)
    {
        Area area = db.Area.Find(ak);
        areaLink = "<a class='h4' href='/MgtSubArea/Edit?id=" + area.AreaKey.ToString()+ "'>" + area.AreaName + "</a> <label>></label>" + areaLink;

        if (area.ParentAreaKey == null)
        {
            break;
        }
        else
        {
            ak = area.ParentAreaKey;
        }
    }
    }
    @section CenterTitle
    {
        @Html.DisplayFor(m => m.AreaName)
}
    @section SideBar
    {
    <center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>  <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Projects</a>
            <label>></label>
                   
          
            @MvcHtmlString.Create(areaLink)
         

        </span>
        
    </center>


}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li><a href="@Url.Action("Edit","MgtArea",new { id=Model.AreaKey})">Area</a></li>
                        <li><a href="@Url.Action("Index", "MgtAddProducts", new { id = Model.AreaKey })">Product</a></li>
                        <li><a href="@Url.Action("Edit", "AreaDetail", new { id = Model.AreaKey })">Details</a></li>
                        <li  class="active"><a href="#" data-toggle="tab-demo1">Sub-Areas</a></li>
                        <li><a href="@Url.Action("Edit", "AreaPhoto", new { id = Model.AreaKey })">Photos</a></li>
                        <li><a href="#" data-toggle="tab">Documents</a></li>
                        <li><a href="#" data-toggle="tab">Notes</a></li>
                        <li><a href="#" data-toggle="tab">Copy</a></li>

                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-demo1">
                            <div class="panel-heading text-right"><a class="btn btn-primary" href="@Url.Action("Create","MgtSubArea",new { id=Model.AreaKey})"><i class="add-on"></i>Add Sub-Area</a></div>
                            <div class="panel-body">
                                <div class="row"><br /><br /></div>
                                <div class="alert alert-info"> If this Area has areas within it, also known as "sub areas", then click the "Add Sub-Area" button above.</div>
                            </div>

                            <div class="container">
                                <div class="row">
                                   
                                    <div class="col-md-6">

                                        <div class="has-feedback has-feedback-left">
                                            <input id="searchText" type="text" class="form-control" placeholder="Search" onkeyup="search()" />
                                            <div class="form-control-feedback">
                                                <i class="icon-search4 text-size-base text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><br /><br />
                            <div class="table-responsive" id="elementContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>