@model NasgledSys.Models.AreaDetailViewModel
@using NasgledSys.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/components_modals.js"></script>

<script src="~/Content/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script src="~/Content/assets/js/plugins/forms/inputs/touchspin.min.js"></script>


@section CenterTitle{
    @ViewBag.heading
}
@section SideBar{
    <center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>  <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Projects</a>
            <label>></label>
            <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Areas</a>

        </span>
        <span class="heading-text">
            <a class="btn btn-primary" href="@Url.Action("Create","MgtAddProducts",new { id=Model.AreaKey})"><i class="add-on"></i>Add Product</a>
        </span>
    </center>


}
<div class="content-wrapper">
    @using (Html.BeginForm("Edit", "MgtArea", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.AreaKey, new { id = "AreaKey" })
        @Html.HiddenFor(m => m.LightingSatisfactionKey, new { id = "LightingSatisfactionKey" })
        @Html.HiddenFor(m => m.DetailKey, new { id = "DetailKey" })
        
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills">
                                <li  ><a href="#tab-demo1" data-toggle="tab">Details Area</a></li>

                                <li><a href="#">Product</a></li>
                                <li class="active">
                                    <a href="#tab-demo1" data-toggle="tab">Details</a>
                                </li>
                                <li><a href="@Url.Action("CreateSub", "MgtArea", new { id = Model.AreaKey })" data-toggle="tab">Sub-Areas</a></li>
                                <li><a href="#">Photos</a></li>
                                <li><a href="#">Documents</a></li>
                                <li><a href="#">Notes</a></li>
                                <li><a href="#">Copy</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-demo1">

                                    <div class="panel-heading">
                                        <div class="col-md-8"><h3>Details Area</h3></div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-xlg col-lg-8" id="btnAdd">Save</button>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="h3 alert-info" id="deletemsg"></div>
                                        </div>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextBoxFor(model => model.Description, new { placeholder = "description", id = "Description", @class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AverageIlluminnce)
                                            @Html.TextBoxFor(model => model.AverageIlluminnce, new { type = "number", placeholder = "foot-candels", id = "AverageIlluminnce", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AverageIlluminnce, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LightingSatisfactionKey)
                                            <select name="LightingSatisfactionKey" placeholder="Select" id="LightingSatisfactionKey" class="select select-search"></select>
                                            @Html.ValidationMessageFor(model => model.LightingSatisfactionKey, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CeilingHeight)
                                            @Html.TextBoxFor(model => model.CeilingHeight, new { type = "number", placeholder = "feet", id = "CeilingHeight", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CeilingHeight, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Reflectance)
                                            @Html.TextBoxFor(model => model.Reflectance, new { type = "number", placeholder = "30", id = "Reflectance", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Reflectance, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreaWidth)
                                            @Html.TextBoxFor(model => model.AreaWidth, new { type = "number", placeholder = "5", id = "AreaWidth", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AreaWidth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Length)
                                            @Html.TextBoxFor(model => model.Length, new { type = "number", placeholder = "feet", id = "Length", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
    }

    
   
   
   
</div>
 