
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">General Settings</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-pointer icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtProjectStatus")" class="btn btn-float btn-float-lg"><span>Project Status</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-screen-full icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtFuelType")" class="btn btn-float btn-float-lg"><span>Fuel Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-git-branch icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtUnit")" class="btn btn-float btn-float-lg"><span>Unit</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-enter6 icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtCoolingEfficiencyType")" class="btn btn-float btn-float-lg"><span>Cooling Efficiency Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-bell-check icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtCoolingSystemType")" class="btn btn-float btn-float-lg"><span>Cooling System Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-bell-cross icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtHeatingEfficiencyType")" class="btn btn-float btn-float-lg"><span>Heating Efficiency Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-pulse2 icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtHeatingSystemType")" class="btn btn-float btn-float-lg"><span>Heating System Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-stats-bars icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtIndustryType")" class="btn btn-float btn-float-lg"><span>Industry Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-people icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtJobFunction")" class="btn btn-float btn-float-lg"><span>Job Function</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-battery-0 icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtIncentiveMaxType")" class="btn btn-float btn-float-lg"><span>Incentive Max Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-battery-charging icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtIncentiveType")" class="btn btn-float btn-float-lg"><span>Incentive Type</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-medal-star icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtLightingSatisfactionFactor")" class="btn btn-float btn-float-lg"><span>Lighting Satisfaction Factor</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-coins icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtAnnualSalesRevenueSetup")" class="btn btn-float btn-float-lg"><span>Annual Sales Revenue Setup</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body panel-body-accent">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-calculator icon-3x text-success-400"></i>
                                </div>
                                <div class="media-body text-right">
                                    <a href="@Url.Action("Index","MgtSalesReachSetup")" class="btn btn-float btn-float-lg"><span>Sales Reach Setup</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>

</div>
<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">Item Settings</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <a href="@Url.Action("Index","MgtItemCategory")" class="btn bg-teal-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-git-branch"></i> <span>Category</span></a>
                    <div class="col-md-1">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtItemCatelogue")" class="btn bg-purple-300 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-cog"></i> <span>Catelogue</span></a>
                    <div class="col-md-1">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtItemSubcategory")" class="btn bg-warning-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-code"></i> <span>Subcategory</span></a>
                    <div class="col-md-1">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtItemType")" class="btn bg-warning-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-cog7"></i> <span>Item Type</span></a>
                    <div class="col-md-1">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtManufacturer")" class="btn bg-blue-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-bag"></i> <span>Manufacturer</span></a>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">Configuration</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <a href="@Url.Action("DIndex","MgtUsergroup")" class="btn bg-teal-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-git-branch"></i> <span>User group</span></a>
                   <div class="col-md-2">&nbsp;</div>
                     <a href="@Url.Action("DIndex","MgtStaff")" class="btn bg-purple-300 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-people"></i> <span>User</span></a>

                    <div class="col-md-2">&nbsp;</div>
                    <a href="@Url.Action("UserEdit","MgtInstitute")" class="btn bg-warning-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-stats-bars"></i> <span>Company</span></a>
                </div>
            </div>
            
        </div>
    </div>
    
</div>


<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">GIS</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <a href="@Url.Action("Index","tcity")" class="btn bg-teal-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-map4"></i> <span>City</span></a>
                    <div class="col-md-2">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtState")" class="btn bg-purple-300 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-map"></i> <span>State</span></a>
</div>
            </div>

        </div>
    </div>

</div>


<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">Component</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <a href="@Url.Action("Index","MgtRole")" class="btn bg-teal-400 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-map4"></i> <span>Client Role</span></a>
                    <div class="col-md-2">&nbsp;</div>
                    <a href="@Url.Action("Catelogue","MgtAdminItem")" class="btn bg-purple-300 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-book"></i> <span>Item Definition</span></a>
                    <div class="col-md-2">&nbsp;</div>
                    <a href="@Url.Action("Index","MgtEnvironmentalImpact")" class="btn bg-blue-300 col-md-2 vertical valign-middle btn-float btn-float-lg"><i class="icon-cog"></i> <span>Environmental Impact</span></a>
                 </div>
            </div>

        </div>
    </div>

</div>
