@model NasgledSys.Models.EnvironmentalImpactViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">List of Environmental Impact</span>

    </h4>
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_advanced.js"></script>

<div class="panel panel-flat">
    <div class="panel-heading">

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>

            </ul>
        </div>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Unit</button>
    </div>
    <div class="panel-body" id="list">

        <table class="table datatable-show-all">
            <thead><tr><th>Factor Name</th><th>Unit Name</th><th>QtyUsed</th><th>Kilowatt Saved</th><th>Logo</th></tr></thead>
            <tbody>

                @foreach (var item in Model.EnvironmentalImpactViewModelList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FactorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QtyUsed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KilowattSaved)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Logo)
                        </td>

                        @*<td>
                            <a class="btn btn-primary discussion-comment" discussion-id="@item.UnitKey">Edit</a> ||
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" onclick="">Edit</button>
                            <a class="btn btn-primary" onclick="Delete('@item.UnitKey')">Delete</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>

    </div>
    </div>
