@model NasgledSys.Models.SummaryClass
@using NasgledSys.Models;
@{
    ViewBag.Title = "Cost";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
    function CreatePoposal(data) {

        if (data != "success") {
            $('#deleteCityContainer').html(data);
            $('#modal_Operating').modal('show');
        }
        else {
          
            $('#deleteCityContainer').html("Data has been Saved Successfully");
          //  window.location.href = "@Url.Action("Cost", "MgtProposal", new { id = Model.ProposalKey })";
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
@section CenterTitle{
    @Html.DisplayFor(m => GlobalClass.Project.ProjectName) <label>Proposal</label>
}
@section SideBar{
    <center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>
            <a class="h4" href="@Url.Action("SelectCompany","MgtProject",new { id=Model.CompanyKey})">@Html.DisplayFor(m => m.CompanyName)</a> <label>></label>
            <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">@GlobalClass.Project.ProjectName</a>
            <label>> </label>
            <a class="h4" href="@Url.Action("Index","MgtProposal",new { id=GlobalClass.Project.ProjectKey})">Proposal</a>
        </span>
        <span class="heading-text pull-right">
            <a class="btn btn-primary" href="#"><i class="add-on"></i>Report</a>
        </span>
    </center>


}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="small text-brown-600">
                        FYI: You may be missing incentives that can help you win this proposal. To automatically get incentives, we need to know the
                        zip code and the utility for this project. Yous can add both by clicking <a href="#">here</a> and navigate to the "Location" TAB.
                    </p>
                 </div>
                    <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="@Url.Action("Summary","MgtProposal",new { id=Model.ProposalKey})">Summary</a></li>
                            <li class="active"><a href="@Url.Action("Index","MgtProposalSolution",new { id=Model.ProposalKey})">Solutions</a></li>
                            <li class="active"><a href="#tab-demo1" data-toggle="tab">Cost</a></li>
                            <li class="active"><a href="#tab-demo1" data-toggle="tab">Saving</a></li>
                            <li class="active"><a href="@Url.Action("Finance","MgtProposal",new { id=Model.ProposalKey})">Financing</a></li>
                            <li class="active"><a href="@Url.Action("Notes","MgtProposal",new { id=Model.ProposalKey})">Notes</a></li>
                            <li class="active"><a href="#tab-demo1" data-toggle="tab">Customize</a></li>
                            <li class="active"><a href="#tab-demo1" data-toggle="tab">Reports</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-demo1">


                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Estimated Costs</h3>

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <button type="button" class="btn btn-success pull-right" id="Add" data-toggle="modal" data-target="#modal_Operating">
                                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Edit
                                        </button>
                                        <table class="table table-bordered">
                                            <tr><td>+ Product Costs</td><td><label>$ </label>@Html.DisplayFor(m => m.ProductCosts)</td></tr>
                                            <tr><td>+ Labor Costs</td><td><label>$ </label>@Html.DisplayFor(m => m.LaborCosts)</td></tr>
                                            <tr><td>+ Shipping Costs</td><td><label>$ </label>@Html.DisplayFor(m => m.ShippingCosts)</td></tr>
                                            <tr><td>+ Misc Product Costs</td><td><label>$ </label>@Html.DisplayFor(m => m.MiscProductCost)</td></tr>
                                            <tr><td>+ Estimated Sales Tax</td><td><label>$ </label>@Html.DisplayFor(m => m.EstimatedSalesTax)</td></tr>
                                            <tr><td><label class="bg-green">Cost of Goods Sold (COGS)</label></td><td><label class="bg-green">$ @Html.DisplayFor(m => m.CostOfGoodsSold)</label></td></tr>
                                            <tr><td>Gross Margin @Html.DisplayFor(m => m.GrossMarginPercentage) <label> %</label></td><td><label>$ </label>@Html.DisplayFor(m => m.GrossMargin)</td></tr>
                                            <tr><td><label class="bg-green">Total Project Price</label></td><td><label class="bg-green">$ @Html.DisplayFor(m => m.TotalProjectPrice)</label></td></tr>

                                            <tr><td>- Estimated Incentive Rebates</td><td><label>$ </label>@Html.DisplayFor(m => m.EstimatedIncentiveRebate)</td></tr>
                                            <tr><td><label class="bg-green">Net Project Price</label></td><td><label class="bg-green">$ @Html.DisplayFor(m => m.NetProjectPrice)</label></td></tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            <div id="modal_Operating" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center><h4 class="modal-title panel panel-success panel-heading">New Proposal</h4></center>
                        </div>
                        @using (Ajax.BeginForm("EditCost", "MgtProposal", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreatePoposal" }, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.HiddenFor(model => model.ProposalKey, new { id = "ProposalKey" })
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">

                                        <label>Product Markup Percentage</label>
                                        <div class="input-group bootstrap-touchspin">

                                            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                            @Html.TextBoxFor(model => model.MarkupPercentage, new { @onkeypress = "return isNumberKey(event)", id = "MarkupPercentage", @class = "touchspin-prefix form-control", @style = "display: block;" })
                                            <span class="input-group-addon bootstrap-touchspin-postfix">%</span>
                                        </div>
                                        <p class="small text-muted">
                                            Enter percentage without  % (and enter 6 for 6% not 0.06). Product price to your customer equals product cost*( 1 + markup),so a $20 product cost and a 50% Markup
                                            will have a price of $30.
                                        </p>
                                    </div>
                                    <h3>Additional Cost</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ShippingCost)
                                        <div class="input-group bootstrap-touchspin">

                                            <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                            @Html.TextBoxFor(model => model.ShippingCost, new { @onkeypress = "return isNumberKey(event)", placeholder = "SHIPPING COST", id = "ShippingCost", @class = "touchspin-prefix form-control", @style = "display: block;" })

                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MiscCost)
                                        <div class="input-group bootstrap-touchspin">
                                            <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                            @Html.TextBoxFor(model => model.MiscCost, new { @onkeypress = "return isNumberKey(event)", placeholder = "MISC COST", id = "MiscCost", @class = "touchspin-prefix form-control", @style = "display: block;" })
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LaborCost)
                                        <div class="input-group bootstrap-touchspin">
                                            <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                            @Html.TextBoxFor(model => model.LaborCost, new { @onkeypress = "return isNumberKey(event)", placeholder = "LABOR COST NOT INCLUDED IN PRODUCT COST", id = "LaborCost", @class = "touchspin-prefix form-control", @style = "display: block;" })
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <h3>Incentives</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TaxIncentives)
                                        <div class="input-group bootstrap-touchspin">
                                            <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                            @Html.TextBoxFor(model => model.TaxIncentives, new { @onkeypress = "return isNumberKey(event)", placeholder = "tax", id = "TaxIncentives", @class = "touchspin-prefix form-control", @style = "display: block;" })
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <h3>Rates</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InstallationLaborCharge)
                                        <div class="input-group bootstrap-touchspin">
                                            <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                            @Html.TextBoxFor(model => model.InstallationLaborCharge, new { @onkeypress = "return isNumberKey(event)", placeholder = "LABOR COST NOT INCLUDED IN PRODUCT COST", id = "InstallationLaborCharge", @class = "touchspin-prefix form-control", @style = "display: block;" })
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        </div>
                                       <p class="small text-muted">enter the dollar per hour cost for installation labor</p>
                                    </div>
                                    <div class="h3 alert-info" id="deleteCityContainer">
                                    </div>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" name="Save" id="Save" value="Save" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
