@model NasgledSys.Models.Proposal
@using NasgledSys.Models;
@{
    ViewBag.Title = "Proposal";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/components_modals.js"></script>

<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/datatables/jquery.dataTables.js"></script>
<script src="~/Content/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

      
        var item = "#PreparedByUser";         
        var urlX = '@Url.Content("~/")' + "MgtProposal/GetProfileUsername";
            $.getJSON(urlX, { id: $(item).val() }, function (data) {
                $('#PreparedByUser').val(data);
            });
      
     
    });

        var CityListVM;
        $(function () {

            CityListVM = {
                dt: null,

                init: function () {
                    dt = $('#Citys-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("GetProposal", "MgtProposal")",
                            "data": function (data) {

                                data.ProjectKey = $("#ProjectKey").val();
                                data.ProposalKey = $("#ProposalKey").val();
                                data.ProposalName = $("#ProposalName").val();
                                data.TotalPrice = $("#TotalPrice").val();
                                data.Incentives = $("#Incentives").val();
                                data.NetPrice = $("#NetPrice").val();
                                data.AnnualSaving = $("#AnnualSaving").val();
                                data.ROI = $("#ROI").val();                            
                            }
                        },
                        "columns": [

                            { "title": "Proposa lName", "data": "ProposalName", "searchable": true, "sortable": true },
                            { "title": "Total Price", "data": "TotalPrice", "searchable": false, "sortable": false },
                             { "title": "Incentives", "data": "Incentives", "searchable": false, "sortable": false },
                              { "title": "Net Price", "data": "NetPrice", "searchable": false, "sortable": false },
                               { "title": "Annual Savings", "data": "AnnualSaving", "searchable": false, "sortable": false },
                                { "title": "ROI", "data": "ROI", "searchable": false, "sortable": false },
                            {
                                "title": "Copy",
                                "data": "ProposalKey",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Copy", "MgtProposal")?id=' + data + '" class="btn btn-success btn-xlg col-lg-12">Copy</a>';
                                }
                            },
                            {
                                "title": "View",
                                "data": "ProposalKey",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Summary", "MgtProposal")?id=' + data + '" class="btn btn-info btn-xlg col-lg-12">View</a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            // Advanced Search Modal Search button click handler
            $('#btnPerformAdvancedSearch').on("click", CityListVM.refresh);

            // initialize the datatables
            CityListVM.init();



        });




    function CreatePoposal(data) {

        if (data != "success") {
            $('#deleteCityContainer').html(data);
            $('#modal_Operating').modal('show');
        }
        else {
            $('#ProposalName').val("");
            $('#PreparedByUser').val("");
            $('#deleteCityContainer').html("Data has been Saved Successfully");
            window.location.href = "@Url.Action("Summary", "MgtProposal", new { id = GlobalClass.ProposalGuid })";
        }
    }


</script>


@section CenterTitle{
    @Html.DisplayFor(m => GlobalClass.Project.ProjectName)
}
@section SideBar{
    <center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>  <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Projects</a>

        </span>
        <span class="heading-text">
            <a class="btn btn-primary" href="@Url.Action("Create","MgtProject",new { id=GlobalClass.Project.ProjectKey})"><i class="add-on"></i>Edit Project</a>
        </span>
    </center>


}
<div class="content-wrapper">
    <div class="row">
       
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li><a href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">Audit</a></li>
                        <li class="active"><a href="#tab-demo1" data-toggle="tab">Proposal</a></li>                       
                        <li><a href="#" data-toggle="tab">Team</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-demo1">
                            <div class="panel-heading">
                                
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-xlg col-lg-12" id="Add" data-toggle="modal" data-target="#modal_Operating">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Add Proposal
                                    </button>                                   
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row"><br /><br /></div>
                                <div class="alert alert-info"> To create a proposal, click on the "Add Proposal" button above</div>
                            </div>
                            <div class="tab-pane fade in active" id="tab-demo2">
                                <div class="panel-body">
                                    <table id="Citys-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal_Operating" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center><h4 class="modal-title panel panel-success panel-heading">New Proposal</h4></center>
                        </div>
                        @using (Ajax.BeginForm("Create", "MgtProposal", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreatePoposal" }, new { @class = "form-horizontal", role = "form" }))
            {
                           @Html.HiddenFor(model => model.ProposalKey,new { id= "ProposalKey" })
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="control-label">Proposal Name <span class="alert-danger">*..</span></div>
                                        <input type="text" required="required" id="ProposalName" name="ProposalName" placeholder="proposal name" class="form-control" />
                                        <span class="small text-muted">This will appear on the cover page of the proposal</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label">Annual Operating Hours<span class="alert-danger">*..</span></div>
                                        <input type="text" id="PreparedByUser" name="PreparedByUser" required="required" placeholder="Prepared By" class="form-control" />
                                        <span class="small text-muted">This will appear on the cover page of the proposal</span>
                                    </div>


                                    <div class="h3 alert-info" id="deleteCityContainer">
                                    </div>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" name="Save" id="Save" value="Save" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</div>
