<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nasgled</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body class="navbar-top">
    @RenderSection("scripts", required: false)
    @using NasgledSys.Models

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Userhome","Home")">
                <img src="~/Content/assets/images/logo_light.png" alt="" />
            </a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div> 
        <center>
            <div class="navbar-header center">
                <ul class="nav navbar-nav center-block">
                    <li class="dropdown dropdown-user">
                        @RenderSection("CenterTitle", required: true)
                    </li>
                </ul>
            </div>    
        </center>     
           
        <div class="nav navbar-nav navbar-right">
            <a href="@Url.Action("Index","MgtContact")">
                <i class="icon-address-book2"></i>
            </a>
        </div>    
        <div class="navbar-collapse collapse" id="navbar-mobile">

            <ul class="nav navbar-nav navbar-right">


                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">

                        
                        <span>@Html.DisplayFor(m => GlobalClass.ProfileUser.FirstName)</span>
                      
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("MyProfile","MgtUserProfile")"><i class="icon-user"></i> My profile</a></li>


                        <li class="divider"></li>

                        <li><a href="@Url.Action("UserLogin","Home")"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Second navbar -->
    <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav navbar-nav-material">
                <li class="active"><a href="@Url.Action("Userhome","Home")"><i class="icon-display4 position-left"></i> Dashboard</a></li>
                <li class="dropdown mega-menu mega-menu-wide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-puzzle4 position-left"></i> Menu <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="menu-heading underlined">Setup Forms</span>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="#"><i class="icon-pencil3"></i>GIS</a>
                                            <ul>
                                                <li><a href="@Url.Action("Index","MgtCity")">State</a></li>

                                                <li><a href="@Url.Action("Index","MgtCity")">City</a></li>
                                                <li><a href="form_controls_extended.html">Zipcode</a></li>
                                                <li><a href="@Url.Action("Index","MgtCoolingEfficiencyType")">Cooling Efficiency Type</a></li>
                                                <li><a href="@Url.Action("Index","MgtCoolingSystemType")">Cooling System Type</a></li>
                                                <li><a href="@Url.Action("Index","MgtIndustryType")">Industry Type</a></li>
                                                <li><a href="@Url.Action("Index","MgtFuelType")">Fuel Type</a></li>



                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-file-css"></i>System</a>
                                            <ul>
                                                <li><a href="@Url.Action("Index","MgtRole")">User Role</a></li>
                                                <li><a href="@Url.Action("Index","tcity")">Test City</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            @*Menu Set DO NOT DISTURB--------------------------------------- NAHID*@
                                            <a href="#"><i class="icon-footprint"></i> Configuration</a>
                                            <ul>
                                                <li><a href="@Url.Action("DIndex","MgtUsergroup")">User group</a></li>
                                                <li><a href="@Url.Action("DIndex","MgtStaff")">User</a></li>
                                                <li><a href="@Url.Action("UserEdit", "MgtInstitute")">Company Info</a></li>
                                            </ul>
                                        </li>


                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>



            </ul>

        </div>
    </div>
    <!-- /second navbar -->
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">

                @if (IsSectionDefined(("SideBar")))
                {
                    @RenderSection("SideBar", required: false)
                }
                else
                {
                    <h4>
                        <span class="heading-text pull-right">

                            <span class="position-left"><a href="@Url.Action("Userhome","Home")">Home<<</a></span>
                            <span class="position-left">Hello , @Html.DisplayFor(m => GlobalClass.ProfileUser.FirstName)</span>
                        </span>

                    </h4>
                }
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group" id="ConfirmationMessegeSlot">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-muted">
        &copy; @DateTime.Now.Year - NasGLED

    </div>
    <!-- /footer -->

</body>
</html>
