@model NasgledSys.Models.ProposalReportViewModel

@using NasgledSys.Models;
@{
    ViewBag.Title = "Proposal";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
 

<link href="~/Content/assets/dragula/dragula.css" rel="stylesheet" />
<script src="~/Content/assets/dragula/dragula.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/extension_dnd.js"></script>

@section CenterTitle{
    @Html.DisplayFor(m => GlobalClass.Project.ProjectName) <label>Report</label>
}
@section SideBar{
    @*<center>

        <span class="heading-text">

            <i class="icon-folder-download position-left"></i>
            <a class="h4" href="@Url.Action("SelectCompany","MgtProject",new { id=Model.CompanyKey})">@Html.DisplayFor(m => m.CompanyName)</a> <label>></label>
            <a class="h4" href="@Url.Action("Created","MgtProject",new { id=GlobalClass.Project.ProjectKey})">@GlobalClass.Project.ProjectName</a>
            <label>></label>
            <a class="h4" href="@Url.Action("Index","MgtProposal",new { id=GlobalClass.Project.ProjectKey})">Proposal</a>
        </span>
        <span class="heading-text pull-right">
            <a class="btn btn-primary" href="#"><i class="add-on"></i>Report</a>
        </span>
    </center>*@


}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">

                        <li class="active"><a href="#tab-demo1" data-toggle="tab">Summary</a></li>
                        <li class="active"><a href="@Url.Action("Index","MgtProposalSolution",new { id=Model.ProposalKey})">Solutions</a></li>
                        <li class="active"><a href="@Url.Action("Cost","MgtProposal",new { id=Model.ProposalKey})">Cost</a></li>
                        <li class="active"><a href="@Url.Action("Saving","MgtProposalSaving",new { id=Model.ProposalKey})">Saving</a></li>

                        <li class="active"><a href="@Url.Action("Finance","MgtProposal",new { id=Model.ProposalKey})">Financing</a></li>
                        <li class="active"><a href="@Url.Action("Customize","MgtProposalCustomize",new { id=Model.ProposalKey})">Customize</a></li>
                        <li class="active"><a href="@Url.Action("Notes","MgtProposal",new { id=Model.ProposalKey})">Notes</a></li>

                        <li class="active"><a href="@Url.Action("Report","ProposalReport",new { id=Model.ProposalKey})">Reports</a></li>

                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-demo1">

                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Select Report</h3></div>
                                    <p>Click on a section below to add it to your document</p>
                                </div>
                                <div class="panel-body" id="forms-target-left">
                                    <table class="table table-bordered">
                                        @for (int i = 0; i < Model.FromReportTemplateList.Count(); i++)
                                        {

                                                <div class="row">

                                                    <div class="form-group">
                                                        
                                                            <label class="cursor-move" id="@Model.FromReportTemplateList[i].TemplateKey">@Model.FromReportTemplateList[i].FactorName</label>
                                                        
</div>
                                                </div>

                                           
                                        }

                                    </table>
                                </div>


                            </div>

                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Document Reports</h3></div>
                                    <p>Click and drag a report up or down to move it, or use the buttons</p>
                                </div>
                                <div class="panel-body" id="forms-target-right">
                                    <table class="table table-bordered">
                                        @for (int i = 0; i < Model.ToReportTemplateList.Count(); i++)
                                        {

                                            <div class="row">

                                                <div class="form-group">

                                                    <label class="cursor-move" id="@Model.ToReportTemplateList[i].TemplateKey">@Model.ToReportTemplateList[i].FactorName</label>

                                                </div>
                                            </div>


                                        }

                                    </table>
                                </div>


                            </div>



                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Select Report</h3>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body" id="forms-target-left">


                                            @for (int i = 0; i < Model.FromReportTemplateList.Count(); i++)
                                            {
                                                <div class="row" >
                                                  
                                                    <div class="form-group">
                                                        <label class="cursor-move" id="@Model.FromReportTemplateList[i].TemplateKey">@Model.FromReportTemplateList[i].FactorName</label>
                                                        
                                                    </div>
                                                 </div>

                                                    }
                                             
                                                </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Document Reports</h3>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body" id="forms-target-right">

                                            @for (int i = 0; i < Model.ToReportTemplateList.Count(); i++)
                                            {
                                                <div class="row" >
                                                    <div class="form-group" >
                                                        <label class="cursor-move" id="@Model.ToReportTemplateList[i].TemplateKey">@Model.ToReportTemplateList[i].FactorName</label>
                                                    </div>
                                                </div>

                                            }

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
 

